.title {
 font-size: 1.5rem;
}

.video {
  grid-area: video;

  width: 100%;
  height: 100%;
}

.recommendations{
  grid-area: recommendations;
  width: 100%;
  height: 100%;
  padding: 0 10% 0 10%;
  display: flex;
flex-direction: column;
justify-content: space-between;
}

.comments{
  grid-area: comments;

  width: 100%;
  height: 100%;
}

.videoTitle{
  margin-top: 20px;
  font-size: 1.5rem;
}

.containerr {
  width: 100%;
  margin: 10px auto;
}
.tag_container {
  border: 2px solid #ccc;
  border-radius: 3px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 6px;
  overflow-x: scroll;
}
.tag_container .tag {
  height: 30px;
  margin: 5px;
  padding: 5px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  display: flex;
  align-items: center;
  color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
  cursor: default;
}
.tag img {
  font-size: 16px;
  color: #666;
  margin-left: 5px;
}
.tag_container input {
  padding: 5px;
  font-size: 16px;
  border: 0;
  outline: none;
  font-family: 'Rubik';
  color: #333;
  flex: 1;
  width: 100%;
}

